---
- name: Home work 2
  hosts: carrier
  become: true
  roles:
    - 2_task
  tasks:
    - name: Display Configuration Variables
      ansible.builtin.debug:
        msg:
          - "wordpress: {{ is_wordpress }}"
          - "wordpress_port: {{ wp_port }}"
          - "wordpress_db_name: {{ wp_db_name }}"
          - "db_master: {{ db_master }}"
          - "db_replica: {{ db_replica }}"
          - "db_pass: {{ db_pass }}"
