global
    daemon
    maxconn 4096
    log stdout local0

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    log global
    option tcplog

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 30s
    stats admin if TRUE
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}

listen galera_cluster
    bind *:3306
    mode tcp
    balance roundrobin
    option mysql-check user haproxy_check

{% for node in galera_nodes %}
    server {{ node.name }} {{ node.name }}:3306 check port 3306 inter 5000 rise 2 fall 3
{% endfor %}
