version: '3'

services:
  mysql:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: {{ db_root_password }}
      MYSQL_DATABASE: {{ wp_db_name }}
      MYSQL_USER: {{ wp_db_user }}
      MYSQL_PASSWORD: {{ wp_db_password }}
    networks:
      - wordpress_network

  wordpress:
    image: wordpress:{{ wp_version }}
    ports:
      - "{{ wp_port }}:80"
    volumes:
      - wp_data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: {{ wp_db_user }}
      WORDPRESS_DB_PASSWORD: {{ wp_db_password }}
      WORDPRESS_DB_NAME: {{ wp_db_name }}
    depends_on:
      - mysql
    networks:
      - wordpress_network

networks:
  wordpress_network:

volumes:
  mysql_data:
  wp_data:
